/*-- scss:defaults --*/


/*-- scss:rules --*/

// Research
.quarto-title-block {
    .haiku {
        text-align: right;
        font-family: $headings-font-family;
        margin: 1.3em 0;
        font-size: 1.6em;
        font-weight: 300;
        font-style: italic;
    }

    .quarto-title .quarto-categories {
        padding-bottom: 0;
        flex-wrap: wrap;
        row-gap: 0.4em;
    }

    .project-details {
        background-color: rgba($red, 0.1);
        padding: 0.75em;
        margin: 1em 0;
    }

    .quarto-title-meta-heading.manual {
        margin-top: 2em !important;
    }

    .project-links {
        padding: 0;
        margin-bottom: 0;
    }

    .project-link {
        display: inline-block;
        white-space: nowrap;
        padding: 0 1em 0 0;
        font-weight: bold;
    }

}

.back-nav {
    margin-bottom: 1.5em;
}

.research {
    .back-nav a {
        color: shift-color($red, -50%);
    }
    
    .quarto-title .quarto-categories .quarto-category {
        background-color: shift-color($red, -75%);
        color: $red;
        font-size: 0.65em;
        opacity: 1;
    }

    .project-categories {
        display: flex;
        flex-wrap: wrap;
        margin: 0.35em 0 0.35em;
        padding-top: 0.35em;
        padding-left: 0.5em;
        padding-bottom: 0;
        row-gap: 0.4em;
        column-gap: 0.4em;
        font-family: $headings-font-family;

        .project-category {
            padding: 0.25em 0.75em 0.25em 0em;
            font-size: 0.7em;
            text-transform: uppercase;
        }
    }
}

.project-list {
    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 2em;

        li.project {
            margin-bottom: 2.5em;
            border-left: 6px solid shift-color($red, -90%);

            p {
                margin: 0;
            }
        }
    }

    .project-content {
        padding-left: 0.5em;

        .status {
            font-size: 1rem;
            font-weight: 250;
            padding: 0.2em;
            margin-right: 0.5em;
        }
    }

    .haiku {
        margin: 0.4rem 0 0rem;
        font-family: $headings-font-family;
        font-weight: 300;
        font-style: italic;
        text-align: right;
        color: $gray-600;
        font-size: 1.1em;

        @media (max-width: map-get($grid-breakpoints, md)) {
            font-size: 0.95rem;
        }
    }

    ul.project-links {
        margin-bottom: 0;
    }

    .project-details-listing {
        margin-top: 0.8em;
        background-color: shift-color($red, -90%);
        font-size: 0.9rem;

        @media (max-width: map-get($grid-breakpoints, md)) {
            font-size: 0.95rem;
        }

        .project-link {
            display: inline-block;
            white-space: nowrap;
            padding: 0.5em 0.5em 0.5em 1em;
        }

        .details {
            background-color: $red;
            padding-right: 1.5em;

            a {
                color: #FFFFFF;
            }
        }
    }
}
